* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: #111;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  text-align: center;
  padding: 60px 20px;
}
/*menu*/
.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu ul li a {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  padding: 8px 12px;
  transition: background 0.3s, color 0.3s;
}

.menu ul li a:hover {
  background-color: #ff9800;
  color: #000;
  border-radius: 5px;
} 
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 15px;
}

.price {
  font-size: 1.2rem;
  color: #007bff;
  margin: 10px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}
